table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
    width: 25px;
    height: 25px;
}

td.SHIP {
    background-color: black;
}

td.MISS {
    background-color: aqua;
}

td.HIT {
    background-color: red;
}

